*{margin:0;padding:0; box-sizing:border-box;}

#box1{
    
    margin:auto;
    width:100%;
    height:200px;
    background:rgb(168, 147, 147);
    border:1px solid black;
    margin-top:5%;
    
}

@media screen and (min-width:300px) and (max-width:900px){
#box2{
    
    margin:auto;
    width:80%;
    height:100px;
    background:grey;
    border:1px solid black;
}
}

@media screen and(min-width:50%) and (max-width:58%){
#box3{
    
    margin:auto;
    width:60%;
    height:80px;
    background:rgb(77, 77, 92);
    border:1px solid black;
    
}
}