*{
    margin:0;padding:0; box-sizing: border-box;
}

#background{
  width:100%;
  height:1044px;
  background-color:#F6F8F9;
}

#header{
    width:100%;
    height:60px;
    background-color:#FFFFFF;
    box-shadow: 0px 0px 4px #000000;
}

#left_items{
    position:absolute;
    top:17px;
    left:25px;
    
   }

#right_items{
    position:absolute;
    width:150px;
    height:30px;
    background:#FFFFFF;
    margin-left:90%;
    margin-top:20px;
    

}

#propic{
    border-radius:30px;
}


#right_item_2{
    position:relative;
    left:34px;
    top:-20px;
}

#right_item_3{
    position:relative;
    left:100px;
    top:-38px;
}

#req{
    
    margin:auto;
    width:90%;
    height:115.2px;
    background:#FFFFFF;
    border: 1px solid  rgb(252, 244, 244);
    border-bottom: 4px solid rgb(252, 244, 244);
    margin-top:25px;
    padding-left:1%;
    
}

#my-req{
    position:relative;
    height:27px;
    width:90px;
    background:#FFFFFF;
    border-bottom:4px solid #32BDD2; 
    margin-left:4%;
    margin-top:4.5%;

}

#search{
    position:absolute;
    margin-left:30%;
    margin-top:-24px;
    

}

#button-box{
    position:absolute;
    width:100px;
    height:30px;
    background:#FFFFFF;
    margin-left:76%;
    margin-top:-30px;
    
}

input[type="text"]{
    border-radius:20px;
    padding:5px;

}

#search input{
    border:1px solid rgb(185, 184, 184);
    border-radius:40px;
    width:400px;
    height:30px;
    
    
}

#search img{
    position:absolute;
    top:32px;
    right:10px;
}

button{
    background:#32BDD2;
    height:42px;
    width:130px;
    font-size:12px;
    border-radius:50px;
    border:1px solid #32BDD2;  
}

#filter{
    margin:auto;
    width:90%;
    height:90px;
    background:#FFFFFF;
    border: 1px solid  rgb(252, 244, 244);


}

#filter-image{
    margin-top:30px;
    margin-left:57px;
}

#filter-text{
    
    margin-left:100px;
    margin-top:-32px;
}

#data1{
    
    margin:auto;
    width:90%;
    height:100px;
    background:#FFFFFF;
    border:0.5px solid  rgb(252, 244, 244);
    

}

#d1{
position:relative;
height:27px;
background:#FFFFFF;
margin-left:5%;
margin-top:1.5%;
}

#b1{
    position:absolute;
    margin-left:45%;
    margin-top:-2px;

}

#r1{
    position:absolute;
    height:30px;
    background:#FFFFFF;
    margin-left:76.4%;
    margin-top:-10px;

}


#data2{
    
    margin:auto;
    width:90%;
    height:100px;
    background:#FFFFFF;
    border:0.5px solid  rgb(252, 244, 244);
}
   
#d2{
    position:relative;
    height:27px;
    background:#FFFFFF;
    margin-left:5%;
    margin-top:1.5%;
    }

#b2{
    position:absolute;
    margin-left:45%;
    margin-top:-2px;
    
    }
    
 #r2{
    position:absolute;
    height:30px;
    background:#FFFFFF;
    margin-left:77%;
    margin-top:-10px;
    
    }

#circle{
    border-radius:50%;
    display: inline-block;
    height:10px;
    width:10px;
    
}

#data3{
   
    margin:auto;
    width:90%;
    height:100px;
    background:#FFFFFF;
    border:0.5px solid  rgb(252, 244, 244);
}
    
#d3{
    position:relative;
    height:27px;
    background:#FFFFFF;
    margin-left:5%;
    margin-top:1.5%;
    }

    #b3{
        position:absolute;
        margin-left:45%;
        margin-top:-2px;
    
    }
    
    #r3{
        position:absolute;
        height:30px;
        background:#FFFFFF;
        margin-left:77.6%;
        margin-top:-10px;
    
    }
#data4{
    margin:auto;
    width:90%;
    height:100px;
    background:#FFFFFF;
    border:0.5px solid  rgb(252, 244, 244);
    
}

#d4{
    position:relative;
    height:27px;
    background:#FFFFFF;
    margin-left:5%;
    margin-top:1.5%;
    }

    #b4{
        position:absolute;
        margin-left:45%;
        margin-top:-2px;
    
    }
    
    #r4{
        position:absolute;
        height:30px;
        background:#FFFFFF;
        margin-left:77.7%;
        margin-top:-10px;
    
    }
    
#Footer{
    margin:auto;
    width:90%;
    height:60px;
    background:#FFFFFF;
    border: 1px solid  rgb(252, 244, 244);

}

#last{
    margin-left:43%;
    margin-top:2%;
}

#arrow{

    margin-left:54%;
    margin-top:-34px;

}

#pic1{
    border-radius:10px;
}
