*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html body{
    margin: auto; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
  
}

#mainheader{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    height:60px;
    width:100%;
    background:rgb(1, 65, 20);
    box-shadow: 0px 0px 4px;
}

#left-box{
    margin-left:2%;
}

#right-box{
    width:13%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    margin-right:2%;
    
}

#title{
    margin:auto;
    width:100%;
    padding:2%;
    background: rgb(189, 169, 169);
}

#comparisonsheet{
    margin:auto;
    width:100%;
    margin-top:2%;
    padding:1%;
    background:gray;
}

.Parameter_popup{
    margin-top: 5%;
    border: 2px solid;
    width: 40%;
    margin: auto;
    background:grey;
    display: none; 

}

.main_container{
    background-color:#FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px 25px 0px 0px;
    border-color: black;
    padding: 3%;
}

.central{
    background-color: #FFFFFF;
    padding: 3%;
}

.footer input[type="text"]{
    padding: 5px;
    
}

.footer{
    background-color:#FCFCFC;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
}

.footer button[type="button"]{
    border-radius: 29px;
    background-color: rgb(16, 20, 221);
    color: #FFFFFF;
    padding:2% 3%;
    width: 60px;
    height: 30px;
    font-weight: bold;
    font-family: roboto;
    float: right;
}



.object_popup{
    border: 2px solid;
    width: 40%;
    margin: auto;
    display: none; 
    background:grey;
} 

.table{
    margin:auto;
    width:40%;
}

.main-container{
    width: 100%;
    margin: auto;
    border: 1px solid #d1d0d0;
    background-color:#F9F8F9;
}

.header{
    margin: auto;
    text-align: center;
    border: 0.5px solid rgb(160, 155, 155);
    padding: 2%;
}

