*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html body{
    color: blue;
}

#mainheader{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    height:60px;
    width:100%;
    background:rgb(1, 65, 20);
    box-shadow: 0px 0px 4px;
}

#left-box{
    margin-left:2%;
}

#right-box{
    width:13%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    margin-right:2%;
    
}

#title{
    margin:auto;
    width:100%;
    padding:2%;
    background: rgb(189, 169, 169);
}

#comparisonsheet{
    margin:auto;
    width:100%;
    margin-top:2%;
    padding:1%;
    background:gray;
}

.Parameter_popup{
    margin-top: 10%;
    width: 20%;
    background: grey;
    color: brown;
    margin: auto;
    display: none; 

}

.object_popup{
    background: grey;
    color: brown;
    width: 20%;
    margin: auto;
    display: none; 
} 

.table{
    margin-left:5%;
    width:40%;
}



.container2 input[type="text"]{
    padding: 5px;
    
}

.container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4%;
}

.container2 button{
    border-radius: 20px;
    background-color: rgb(16, 20, 221);
    color: #FFFFFF;
    padding:2px;
    width: 60px;
    height: 30px;

}


