*{ margin:0; padding:0; box-sizing: border-box;}

.n1{
    width:10%;
    float:left;
    border: 1px solid green;
}

.n2{
    width:90%;
    float:right;
    border: 1px solid red;
    
}

.lineicon{
    width:24px;
    height:24px;
    float:left;
}

.picture1{
    width:24px;
    height:24px;
    border-radius:20px;

}



.downarrow{
    width:10px;
    height:10px;
}