*{
    margin:0; padding:0; box-sizing: border-box;
}

#container{
    width:100%;
    height:1660px;
    background:#F6F8F9;

}

#container1{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:100%;
    height:60px;
    background:#FCFCFC;
    border: rgb(39, 37, 37);
    box-shadow: 0px 1px 1px gray;
    }

#lines{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left:2%;
       
    
}

#nav{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width:14%;
    align-items:center;
    margin-right:2%;
    
    
}

#propic{
    border-radius:20px;
}

#container2{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width:10%;
    margin-top:25px;
    height:1750px;
    background-color: white;
    border:  grey;
    float:left;
    margin-left: 20px;

    }

    #req{
        float:left;
        transform: rotate(-90deg);
    }

    #container3{
    
        
        margin-top:25px;
        height:1750px;
        width:98%;
        background-color:#FCFCFC;
        padding:45px;
        
    }
    
    #preview{
        margin-left:12%;
    }


    #content1{
        margin:auto;
        width:85%;
        margin-top:5%;
        margin-left:12%;
    
    }
    
    #content2{
        margin:auto;
        width:85%;
        margin-top:4%;
        margin-left:12%;
    
    }
    
    #content3{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        border-bottom: 1px solid #F0F0F0;
        margin:auto;
        width:85%;
        height:100px;
        margin-top:1%;
    
    
    }
      
    #content4{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        border-bottom: 1px solid #F0F0F0;
        margin:auto;
        width:85%;
        height:100px;
        
    
    
    }
    
    #content5{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        border-bottom: 1px solid #F0F0F0;
        margin:auto;
        width:85%;
        height:100px;
        
    
    
    }
    
    #content6{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        border-bottom: 1px solid #F0F0F0;
        margin:auto;
        width:85%;
        height:100px;
        
    
    
    }
    
    #content7{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        border-bottom: 1px solid #F0F0F0;
        margin:auto;
        width:85%;
        height:100px;
        
    
    
    }
    
    #content8{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        margin:auto;
        width:85%;
        height:100px;
        
    
    
    }
    
    #attachment-box{
        margin:auto;
        width:85%;
        margin-top:3%;
        margin-left:12%;
    
    }
    
    #data1{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-top:3%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:25px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
    
    }
    
    #data2{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:25px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
    
    
    }
    
    #data3{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-top:3%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:25px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
    
    }
    
    #data4{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:25px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
    
    
    }
    
    #invities-box{
        margin:auto;
        width:85%;
        margin-top:4%;
        margin-left:12%;
        
    
    }
    
    #data5{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-top:2%;
        margin-left:12%;
    
    
    }
    
    #data5-f{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:80%;
        margin-left:7.5%;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
        
    
    }
    
    #data6{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-top:1%;
        margin-left:12%;
    
    
    }
    
    #data6-f{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:80%;
        margin-left:7.5%;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
        
    
    }
    
    #data7{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-top:1%;
        margin-left:12%;
    
    
    }
    
    #data7-f{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:80%;
        margin-left:7.5%;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
        
    
    }
    
    #approval-box{
        margin:auto;
        width:85%;
        margin-top:4%;
        margin-left:12%;
        
    
    }
    
    #data8{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-top:1%;
        margin-left:12%;
    
    
    }
    
    #data8-f{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:80%;
        margin-left:7.5%;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
        
    
    }
    
    #data9{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:30%;
        margin-left:7.5%;
        border: 1px solid #E0E0E0;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-top:1%;
        margin-left:12%;
    
    
    }
    
    #data9-f{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:80%;
        margin-left:7.5%;
        height:40px;
        padding-left:2%;
        padding-right:2%;
        margin-left:12%;
        
    
    }

    #ff{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:50px;
        width:85.5%;
        margin-left:12%;
        margin-top:8%;

    }

   
    #ff button{
        color: white;
        background: rgb(82, 177, 221);
        height: 29px;
        width: 88px;
        border-radius: 20px;
        
        
    }

    #ff-right-fx{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:25%;
    }

    
    
    
    
    