*{margin:0;padding:0; box-sizing:border-box;}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin:auto;
    width:100%;
    height:60px;
    background:#FFFFFF;
    box-shadow: 0px 0px 4px;
    border:1px black;
    justify-content:space-between;
    padding-left:2%;
    padding-right:2%;
}

#right-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:13%;
}

#pic1{
    border-radius:20px;
}

#box1{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:95%;
    height:115px;
    background:#FFFFFF;
    border:2px solid #F6F8F9;
    border-bottom:7px solid #F6F8F9;
    margin-top:2%;
    padding-left:2.5%;
    
}

#req-box{
    border-bottom:3px solid #32BDD2;
}

#req-search input{
    border-style: ridge;
    border-radius: 20px;
    display: block;
    box-sizing: border-box;
    width: 600px;
    height: 35px;
    margin-top:4%;

  }
  
  #req-search img{
    position:relative;
    left:560px;
    bottom:27px;
    
}

  button {
    background-color: #32BDD2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 18px;
    border: none;
    border-radius: 20px;
    margin-right: 22px;
  }

  #box2{
      display:flex;
      flex-direction:row;
      align-items:center;
      margin:auto;
      width:95%;
      height:100px;
      background:#FFFFFF;
      border:2px solid #F6F8F9;
      padding-left:1.5%;
  }
  #fx{
      width:17%;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
  }

  #box3{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      margin:auto;
      width:95%;
      height:100px;
      background:#FFFFFF;
      border:2px solid #F6F8F9;
      padding-left:1.5%;
      padding-right:2%;

  }
  
  #circle{
    height: 10px;
    width: 10px;
    background-color:#24D081;
    border-radius: 30px;
    display: inline-block;
    
  }

  #box4{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:95%;
    height:100px;
    background:#FFFFFF;
    border:2px solid #F6F8F9;
    padding-left:1.5%;
    padding-right:2%;
    border-top:white;


}

#box5{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:95%;
    height:100px;
    background:#FFFFFF;
    border:2px solid #F6F8F9;
    padding-left:1.5%;
    padding-right:2%;
    border-top:white;


}

#box6{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:95%;
    height:100px;
    background:#FFFFFF;
    border:2px solid #F6F8F9;
    padding-left:1.5%;
    padding-right:2%;
    border-top:white;


}

#box7{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    margin:auto;
    width:95%;
    height:50px;
    background:#FFFFFF;
    border:2px solid #F6F8F9;
    border-top:white;

}


  
  

  
  
  