*{margin:0; padding:0; box-sizing:border-box;}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    height:60px;
    width:100%;
    background:rgb(1, 65, 20);
    box-shadow: 0px 0px 4px;


}

#left-box{
    margin-left:2%;
}

#right-box{
    width:13%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    margin-right:2%;
    
}
#title{
    margin:auto;
    width:100%;
    padding:2%;
    background: rgb(189, 169, 169);
}
#comparisonsheet{
    margin:auto;
    width:100%;
    margin-top:2%;
    padding:1%;
    background:gray;
}
#popup{
    margin:auto;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    border:1px solid;
    padding:10px;
    border-radius: 9px;
    display:none;
    width:100%; 
    background:rgb(0,0,0,0.4);
    border : solid gray;
    height:100%;
    
}


#image{
    float:right;
}

#c2{
    margin:auto;
    height:150px; 
    width:483px;
    background-color:rgb(240, 229, 229);
    margin-top:20%; 
    border:1px solid gray; 
    border-bottom-left-radius:10px; 
    border-bottom-right-radius:10px; 
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
    box-shadow: 2px 2px 2px grey;}


#c3{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:#595959; 
    font-size: 12px; 
    margin-left:5%; 
    margin-right:5%; 
    margin-top:5%;
}


#c4{
    font-size: 10px;
    margin-top:3%;
}

#parameterpopup{
    margin:auto;
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    top:0;
    border:1px solid;
    padding:10px;
    border-radius: 9px;
    display:none;
    width:100%; 
    background:rgb(0,0,0,0.4);
    border : solid gray;
    height:100%;
    
}


#closeimageparameter{
    float:right;
}

#c5{
    margin:auto;
    height:150px; 
    width:483px;
    background-color:rgb(240, 229, 229);
    margin-top:20%; 
    border:1px solid gray; 
    border-bottom-left-radius:10px; 
    border-bottom-right-radius:10px; 
    border-top-left-radius: 10px;
    border-top-right-radius:10px; 
    box-shadow: 2px 2px 2px grey;}


#c6{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:#595959; 
    font-size: 12px; 
    margin-left:5%; 
    margin-right:5%; 
    margin-top:5%;
}


#c7{
    font-size: 10px;
    margin-top:3%;
}

tr{
    cursor: pointer
}

.selected{
    background-color: rgb(218, 128, 26); 
    color: #fff;
}

#back{
    background:blue;
    margin-top:10%;
    color:white;
    padding:0.5%;
}
