*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#header{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:100%;
    height:60px;
    background:#FFFFFF;
    box-shadow:0px 0px 4px grey;
}

#left-box{
    padding:2%;
}

#right-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:13%;
    padding-right:2%;
}

#pp{
    border-radius:20px;
}

#req-box{
    background:#FFFFFF;
    width:12%;
    height:655px;
    margin-left:4%;
    margin-top:2%;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-evenly;
    float:left;

}

#requisition{
     transform:rotate(-90deg)
}

#content-box{
    background:#FFFFFF;
    width:85%;
    height:655px;
    margin-left:12%;
    margin-top:2%;
    border: 1px solid #E0E0E0;
    
    
}

#box1{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    margin-top:5%;
    width:90%;
    height:89px;
    border: 1px solid #E0E0E0;
    background:#F0F0F0;
    padding-left:4%;
    padding-right:4%;
    
}

#box1-right-fx{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:18%;
}

#box2{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:60%;
    background:#D5E2E8;
    height:60px;
    margin-left:12%;
    margin-top:5%;
    border:1px solid #E0E0E0;
}

#pp2{
    border-radius:20px;
}

#box2-left-fx{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:40%;
    margin-left:5%;
}

#box2-right-fx{
    margin-right:5%;
}

#pp2{
    border-radius:20px;
}

#box3{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:60%;
    background:#D5E2E8;
    height:60px;
    margin-left:12%;
    margin-top:2%;
    border:1px solid #E0E0E0;
}

#box3-left-fx{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:40%;
    margin-left:5%;
}

#box3-right-fx{
    margin-right:5%;
}

#pp2{
    border-radius:20px;
}

#box4{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:60%;
    background:#D5E2E8;
    height:60px;
    margin-left:12%;
    margin-top:2%;
    border:1px solid #E0E0E0;
}

#box4-left-fx{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:40%;
    margin-left:5%;
}

#box4-right-fx{
    margin-right:5%;
}

#pp2{
    border-radius:20px;
}

#box5{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    margin-top:8%;
    width:90%;
    height:89px;
    
}
button{
    background:#32BDD2;
    border-radius:20px;
    border:1px solid #32BDD2;
}

#box5-right-fx{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:20%;
}


#pop{
    margin:auto;
    width:100%;
    height:500px;
    padding-top:5%;
    position:absolute;
    top:10%;
    display:none;
 }
  
  #cont{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:50%;
    box-shadow: 0px 0px 4px grey;
    height:60px;
    background:white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left:2%;
    padding-right:2%;
    border-bottom:2px solid rgb(175, 167, 167);
  }
  
  #cont1{
    margin:auto;
    width:50%;
    height:450px;
    background:white;
    padding-top:3%;
  }
  
  #sbox{
      margin:auto;
      width:80%;
      border-radius:25px;
      border:1px solid rgb(180, 175, 175);
      height:45px;
      background:white;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content: space-between;
      padding-right:2%;
  }
  
  #b1{
      margin:auto;
      width:80%;
      height:60px;
      background:#F4F8FA;
      margin-top:10%;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      padding-left:5%;
      padding-right:5%;
  }
  
  #b1-left-flex{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      width:45%;
      
      
  }
  
  #picture{
      border-radius:20px;
  }
  
  #b2{
      margin:auto;
      width:80%;
      height:60px;
      background:#F4F8FA;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      padding-left:5%;
      padding-right:5%;
  }
  
  #b2-left-flex{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      width:45%;
      
      
  }
  
  #b3{
      margin:auto;
      width:80%;
      height:60px;
      background:#F4F8FA;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      padding-left:5%;
      padding-right:5%;
  }
  
  #b3-left-flex{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      width:45%;
      
      
  }
  
  #b4{
      margin:auto;
      width:80%;
      height:60px;
      background:#F4F8FA;
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      padding-left:5%;
      padding-right:5%;
  }
  
  #b4-left-flex{
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content:space-between;
      width:45%;
      
      
  }
  
  
  
  
  #cont-last{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:50%;
    box-shadow: 0px 3px 6px grey;
    height:60px;
    background:white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left:2%;
    padding-right:2%;
    border-top:2px solid rgb(175, 167, 167);
  }
  
  #dottedbox{
    background:white;
    border-radius:30px;
    border-style:dotted;
    border:1px solid #32BDD2;
    padding:8px;
    width:200px;
    height:29px;
    margin-right:-4%;
    margin-left:4%;
    
    
    
  }
  
  button{
    background:#32BDD2;
    border-radius:30px;
    padding:5px;
    width:90px;
    height:32px;
    color:white;
    font-size:12px;
    text-align: center;
    
    
  }
  
  #cont-last-right-flex{
      display:flex;
      flex-direction:row;
      align-items:center;
      
      
      
  }
  
  
  
  