*{
    margin:0; padding:0;
}

#container{
    width:100%;
    height:768px;
    background:#F6F8F9;

}

#container1{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:100%;
    height:60px;
    background:white;
    border: rgb(39, 37, 37);
    box-shadow: 0px 1px 1px gray;
    }

#lines{
    margin-left:25px;
    
    
}

#nav{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    width:11%;
    float:right;
    margin-right:30px;
}


#container2{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width:10%;
    margin-top:25px;
    height:67%;
    background-color: white;
    border:  grey;
    float:left;

    }

    #req{
        float:left;
        transform: rotate(-90deg);
    }


#container3{
    
    float:left;
    margin-top:25px;
    height:55.5%;
    width:80%;
    background-color: #FCFCFC;
    padding:45px;
}
    

#text-area{
    width:100px;
    height:20px;
    border-color: rgb(202, 199, 199);
    
}
#data{
    margin-top:4%;
}

#bullets{
    margin-top:3%;
}


#flex{
display:flex;
flex-direction:row;
align-items: center;
justify-content: space-between;
margin-top:2%;
}

#container3 button{
    background: #32BDD2;    
    width:88px;
    height:30px;
    border-radius:50px;
    border:1px solid #32BDD2; 
}

