*{
    margin:0; padding:0; box-sizing: border-box;
}

#container{
    width:100%;
    height:768px;
    background:#F6F8F9;

}

#container1{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin:auto;
    width:100%;
    height:60px;
    background:white;
    border: rgb(39, 37, 37);
    box-shadow: 0px 1px 1px gray;
    }

#lines{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-left:25px;
       
    
}

#nav{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    width:14%;
    align-items:center;
    padding-right:2%;
    
    
}

#propic{
    border-radius:20px;
}

#container2{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    width:10%;
    margin-top:25px;
    height:85%;
    background-color: white;
    border:  grey;
    float:left;
    margin-left: 20px;

    }

    #req{
        float:left;
        transform: rotate(-90deg);
    }

    #container3{
    
        
        margin-top:25px;
        height:85%;
        width:98%;
        background-color: rgb(225, 228, 235);
        padding:45px;
        
    }
    
    #box1{
        margin:auto;
        width:80.5%;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:50px;
        background:rgb(183, 185, 190);
        padding: 2%;
        border: 0.5px solid rgb(179, 189, 194);
        
    
    }


    #box-flex-right{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:22%;
    }

    

    

    #boxes-5{
        display:flex;
        flex-direction:column;
        margin:auto;
        width:80.5%;
        height:468px;
        border: grey;
    }

    #aa{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:80px;
        background:#FFFFFF;
        padding: 2%;
        border-bottom: 0.5px solid rgb(179, 189, 194);
        padding-top:5%;
        padding-bottom: 5%;
    }
    #bb{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:80px;
        background: #FFFFFF;
        padding: 2%;
        border-bottom: 0.5px solid rgb(179, 189, 194);
        padding-top:5%;
        padding-bottom: 5%;
    }

    

    #cc{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:80px;
        background:  #FFFFFF;
        padding: 2%;
        border-bottom: 0.5px solid rgb(179, 189, 194);
        padding-top:5%;
        padding-bottom: 5%;
    }


    

    #dd{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:80px;
        background:  #FFFFFF;
        padding: 2%;
        border-bottom: 0.5px solid rgb(179, 189, 194);
        padding-top:5%;
        padding-bottom: 5%;
    }


    

    #ee{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:80px;
        background:  #FFFFFF;
        padding: 2%;
        border-bottom: 0.5px solid rgb(179, 189, 194);
        padding-top:5%;
        padding-bottom: 5%;
    }

    #ff{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        height:50px;
        width:100%;
        margin-top:2%;

    }

   
    #ff button{
        color: white;
        background: rgb(82, 177, 221);
        height: 29px;
        width: 88px;
        border-radius: 20px;
        border:1px solid rgb(82, 177, 221);
        
        
    }

    #ff-right-fx{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        width:25%;
    }

    .dropdown{
        position:relative;
        display:inline-block;
    }

    #drop-content a{
        display:block;
        color:rgb(27, 26, 26);
        font-size:12px;
        background:#FFFFFF;
        box-shadow:0px 0px 7px grey;
        border:0.5px solid grey;
        text-decoration:none;
        padding:10px 36px;
    }
    
    #drop-content{
        position:absolute;
        z-index:1;
    }

    #pop{
        margin:auto;
        width:100%;
        height:600px;
        padding-top:5%;
        position:absolute;
        top:1%;
        display:none;
      }
      
      #cont{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        margin:auto;
        width:50%;
        box-shadow: 0px 3px 6px grey;
        height:60px;
        background:white;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        padding-left:2%;
        padding-right:2%;
        border-bottom:2px solid rgb(175, 167, 167);
      }
      
      #cont1{
        margin:auto;
        width:50%;
        height:550px;
        background:white;
        padding-top:2%;
      }
      
      #text1{
        margin-left:4%;
        margin-top:1%;
      }
      
      #b1{
        width:50%;
        border:1px solid grey;
        border-radius:5px;
        height:100px;
        margin-left:4%;
        margin-top:1%;
      
      }
      
      #text2{
        margin-left:4%;
        margin-top:8%;
      }
      
      #b2{
        width:30%;
        border:1px solid grey;
        border-radius:5px;
        height:37px;
        margin-left:4%;
        margin-top:1%;
      }
      
      #b3{
        width:30%;
        border:1px solid grey;
        border-radius:5px;
        height:37px;
        margin-left:4%;
        margin-top:1%;
      
      }
      
      #text3{
        margin-left:4%;
        margin-top:8%;
      }
      
      #b4{
        width:30%;
        border:1px solid grey;
        border-radius:5px;
        height:37px;
        margin-left:4%;
        margin-top:1%;
      
      }
      
      #text4{
        margin-left:4%;
        margin-top:8%;
      }
      
      #cont-last{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        margin:auto;
        width:50%;
        box-shadow: 0px 3px 6px grey;
        height:60px;
        background:white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding-left:2%;
        padding-right:2%;
        border-top:2px solid rgb(175, 167, 167);
      }
      
      button{
        background:#32BDD2;
        border-radius:30px;
        padding:5px;
        width:88px;
        height:29px;
        color:white;
        font-size:12px;
      }
      
      #flex{
        display:flex;
        flex-direction:row;
        align-items:center;
        
      }
      
      