*{margin:0; padding:0;}




#c1{height:628px; width:1100px; background-color: #E0E0E0;
     margin-left:10%; margin-right:15%; margin-top:5%; margin-bottom:5%;
      border : solid rgb(255, 255, 255);
     }



#c2{height:301px; width:218px;background-color: #E0E0E0; margin-top:15%;
     margin-bottom:5%; margin-left: 39%; margin-right:30%;
      border: solid rgb(187, 197, 230); border-width:1px;}


#c3{height:274px; width:184px; background-color: whitesmoke; margin-top:5%; 
     margin-bottom:5%; margin-left:7%; margin-right: 32%;
      border: solid rgb(187, 197, 230); border-width:1px; box-shadow: 1px 1px 5px 1px rgb(165, 164, 164); }

 #c4{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px; 
          color: rgb(99, 92, 92); margin-left:10px; padding:18px;}
      
#c5{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px; 
     color: rgb(196, 183, 183)}

     #c6{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px; 
          color: rgb(99, 92, 92)}
     
     #c7{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px; 
          color: rgb(99, 92, 92)}

          #c8{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px; 
               color: rgb(99, 92, 92)}

               #c9{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:16px; 
                    color: rgb(99, 92, 92)}